/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* background */

body {
    background: #FFF;
    /* background: -webkit-linear-gradient(to right, #FFF, #BFBFBF 90%);
    background:    -moz-linear-gradient(to right, #FFF, #BFBFBF 90%);
    background:         linear-gradient(to right, #FFF, #BFBFBF 90%); */
}

footer {
    background: #FFF;
    /* background: -webkit-linear-gradient(to right, #FFF, #BFBFBF 90%);
    background:    -moz-linear-gradient(to right, #FFF, #BFBFBF 90%);
    background:         linear-gradient(to right, #FFF, #BFBFBF 90%); */
}


/* header */

.top-half {
    height: 40vh;
    position: relative;
    background: black;
    border: solid white 4px;
}

.title {
    margin: 3vh 3vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media all and (min-width: 1000px) {
    h1 {
        font: 300 5vw Lato, "Open Sans", "Helevetica Neue", Helevitca, Arial, sans-serif;
        color: white;
        padding: 0;
        margin: 0;
    }
    .bio {
        font: 300 1.6vw Lato, "Open Sans", "Helevetica Neue", Helevitca, Arial, sans-serif;
        color: white;
        padding: 0;
        margin: 0;
    }
    .nav li {
        font: 900 1.2vw "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        margin: 1vh 1vw;
    }
}

@media all and (max-width: 999px) and (min-width: 750px) {
    h1 {
        font: 300 6vw Lato, "Open Sans", "Helevetica Neue", Helevitca, Arial, sans-serif;
        color: white;
        padding: 0;
        margin: 0;
    }
    .bio {
        font: 300 1.7vw Lato, "Open Sans", "Helevetica Neue", Helevitca, Arial, sans-serif;
        color: white;
        padding: 0;
        margin: 0;
    }
    .nav li {
        font: 900 1.6vw "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        margin: 1vh 1vw;
    }
}

@media all and (max-width: 750px) and (min-width: 400px) {
    h1 {
        font: 300 8vw Lato, "Open Sans", "Helevetica Neue", Helevitca, Arial, sans-serif;
        color: white;
        padding: 0;
        margin: 0;
    }
    .bio {
        font: 300 3vw Lato, "Open Sans", "Helevetica Neue", Helevitca, Arial, sans-serif;
        color: white;
        padding: 0;
        margin: 0;
    }
    .nav li {
        font: 900 2.4vw "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        margin: 1vh 1vw;
    }
}

@media all and (max-width: 399px) and (min-width: 0px) {
    h1 {
        font: 300 7vw Lato, "Open Sans", "Helevetica Neue", Helevitca, Arial, sans-serif;
        color: white;
        padding: 0;
        margin: 0;
    }
    .bio {
        font: 300 2vw Lato, "Open Sans", "Helevetica Neue", Helevitca, Arial, sans-serif;
        color: white;
        padding: 0;
        margin: 0;
    }
    .nav li {
        font: 900 2.5vw "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        margin: 1vh 1vw;
    }
}


/* body */

.bot-half {
    height: 58.4vh;
    border: solid black 4px;
}


/* navigation */

ul {
    list-style: none;
    display: inline;
    margin: 3vh 3vw;
    text-align: center;
}


/* links */

.nav a {
    color: #4c4c4c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
