body {
    background: #FFF;
}

.container {
    margin: auto;
    width: 40em;
    max-width: 95%;
}

h1 {
    font-size: 28px;
    letter-spacing: 0.5px;
}

.nav li {
    text-transform: lowercase;
    /* display: inline-block; */
    vertical-align: top;
}

a {
    color: #4c4c4c;
    /* text-decoration: none; */
}