body {
    background: #FFF;
    font-size: 1em;
    font-family: 'Thasadith', sans-serif;
    letter-spacing: 0.3px;
}

h1 {
    font-size: 3em;
    margin: 0 auto;
}


.container {
    margin: 0 auto;
    width: 40em;
    max-width: 95%;
}

.bio {
    line-height: 1.5em;
}

ul {
    padding: 0;
    margin: 0;
    text-transform: lowercase;
    vertical-align: top;
    list-style-type: none;
}

a {
    color: #ff3333;
    text-decoration: none;
}

a:hover {
    color: #ff6666;
}

.email {
    /* color: #00b300; */
    text-decoration: underline;
}
